*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.message{
    color: green;
    font-style: italic;
}

.error {
    color: red;
    font-style: italic;
}

.ct{
    text-align:center;
}